:root{
    --pr-color:#048853;
}

body{
    font-family: "Poppins";
    background-color: #e5e5e5;
    
}
/* layer */
.navbar{
    z-index: 5;
}
*{
    z-index: 2;
}
.accent-banner{
    z-index: 1;
}



/* ----- */

/* navbar */
.navbar-brand{
    font-size: 20px;
    font-weight: 700;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
}
.nav-link.active{
    font-size: 16px;
    font-weight: 700;
}
.btn-masuk{
    width: 133px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: var(--pr-color);
    font-size : 16px;
    font-weight: 700;
}
.btn-daftar{
    width: 133px;
    height: 40px;
    background-color:transparent;
    border: none;
    color: #fff;
    font-size : 16px;
    font-weight: 400;
}
/* navbar end */

/* ini section utama */
#hero{
    background:linear-gradient(160deg,var(--pr-color), #000);
    height: 100vh ;
}

.text-hero h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 70px;
}
.text-hero p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    width:75%;
}
.btn-lg{
    width: 237px;
    height: 70px;
    background-color: #fff;
    border: none;
    color: var(--pr-color);
    font-size: 16px;
    font-weight: 700;
}

/* ini hero section end */

/* layanan style */
#our-service{
    height: 100vh;
}
h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--pr-color);
}
p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.card-service{
    height: 313px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}

.bulat{
    height: 70px;
    width: 70px;
    background-color: var(--pr-color);
    border-radius: 50%;
}
.card-service h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--pr-color);
}
.card-service p{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.card-service:hover{
    background:linear-gradient(160deg, var(--pr-color), #000);
    transition: all 0.3s ease-in;
}
.card-service:hover .bulat{
    background-color: #fff;
    transition: all 0.3s ease-in;
}
.card-service:hover h4{
    color: #fff;
    transition: all 0.3s ease-in;
}
.card-service:hover p{
    color: #fff;
    transition: all 0.3s ease-in;
}
/* end layanan style */

/* style temukan Rumah */
#tmk-rumah{
    background-image: url(image/bg-tmkrumah.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.head-tri{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.sub-head{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.nav-link-tab{
    border: none;
    height: 42px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.jual{
    border-top-left-radius: 10px;
}
.property{
    border-top-right-radius: 10px;
}
.nav-link-tab.active{
    color: var(--pr-color);
    background-color: rgba(255, 255, 255, 0.8);
}
.input-group{
    height: 88px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
}
.btn-tri{
    height: 88px;
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 18px;
    font-weight: 400;
    color: var(--pr-color);
    border-right: solid 2px white;
}
.btn-cari{
    height: 88px;
    width: 135px;
    background-color: var(--pr-color);
    border: none;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.nav-tabs{
    border: none;
}
.form-control{
    border: none;
}
.form-control::placeholder{
    font-size: 18px;
    font-weight: 400;
    color: var(--pr-color);
}
/* end style temukan rumah */

/* style rekomendasi */
.card{
    height: 460px;
    width: 22rem;
    border: none;
}
.card-content h4{
    font-size: 24px;
    font-weight: 500;
    line-height: .8rem;
}
.card-content p{
    font-size: 14px;
    font-weight: 400;
}
.card-fasilitas{
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
}
.card-fasilitas p{
    font-size:12px ;
    font-weight: 400;
}
.card:hover{
    background: linear-gradient(160deg, var(--pr-color), #03cd7c, #000);
    transition: all ease-in 0.3s;
}
.card:hover .card-content h4{
    color: #fff;
    transition: all ease-in 0.3s;
}
.card:hover .card-content p{
    color: #fff;
    transition: all ease-in 0.3s;
}
.card-fasilitas{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    padding-top: 10px;
}
/* end style rekomendasi */
